<option <%= 'selected' if value == 'AC' %> value="AC">Acre</option>
<option <%= 'selected' if value == 'AL' %> value="AL">Alagoas</option>
<option <%= 'selected' if value == 'AP' %> value="AP">Amapá</option>
<option <%= 'selected' if value == 'AM' %> value="AM">Amazonas</option>
<option <%= 'selected' if value == 'BA' %> value="BA">Bahia</option>
<option <%= 'selected' if value == 'CE' %> value="CE">Ceará</option>
<option <%= 'selected' if value == 'DF' %> value="DF">Distrito Federal</option>
<option <%= 'selected' if value == 'ES' %> value="ES">Espírito Santos</option>
<option <%= 'selected' if value == 'GO' %> value="GO">Goiás</option>
<option <%= 'selected' if value == 'MA' %> value="MA">Maranhão</option>
<option <%= 'selected' if value == 'MT' %> value="MT">Mato Grosso</option>
<option <%= 'selected' if value == 'MS' %> value="MS">Mato Grosso do Sul</option>
<option <%= 'selected' if value == 'MG' %> value="MG">Minas Gerais</option>
<option <%= 'selected' if value == 'PA' %> value="PA">Pará</option>
<option <%= 'selected' if value == 'PB' %> value="PB">Paraíba</option>
<option <%= 'selected' if value == 'PR' %> value="PR">Paraná</option>
<option <%= 'selected' if value == 'PE' %> value="PE">Pernambuco</option>
<option <%= 'selected' if value == 'PI' %> value="PI">Piauí</option>
<option <%= 'selected' if value == 'RJ' %> value="RJ">Rio de Janeiro</option>
<option <%= 'selected' if value == 'RN' %> value="RN">Rio Grande do Norte</option>
<option <%= 'selected' if value == 'RS' %> value="RS">Rio Grande do Sul</option>
<option <%= 'selected' if value == 'RO' %> value="RO">Rondônia</option>
<option <%= 'selected' if value == 'RR' %> value="RR">Roraima</option>
<option <%= 'selected' if value == 'SC' %> value="SC">Santa Catarina</option>
<option <%= 'selected' if value == 'SP' %> value="SP">São Paulo</option>
<option <%= 'selected' if value == 'SE' %> value="SE">Sergipe</option>
<option <%= 'selected' if value == 'TO' %> value="TO">Tocantins</option>