
<div class="kt-widget31__item" id="ts-<%= ts.id %>">
  <div class="kt-widget31__content"  style="width: 70%">
    <div class="kt-widget31__pic">
      <img src="<%= asset_path('avatar-placeholder.png') %>" class="user-avatar" data-user="<%= ts.user.id %>" alt="">
    </div>
    <div class="kt-widget31__info">
      <a href="#" class="kt-widget31__username">
        <%= ts.user.name %>
      </a>
      <p class="kt-widget31__text">
        <%= ts.project.name %>
      </p>
    </div>
  </div>
  <div class="kt-widget31__content">
    <div class="kt-widget31__progress">
      <a href="#" class="kt-widget31__stats">
        <span><%= ts.percentage %>%</span>
        <span><%= ts.hours.to_i %> hs</span>
      </a>
      <div class="progress progress-sm">
        <div class="progress-bar bg-brand" role="progressbar" style="width: <%= ts.percentage %>%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <a href="<%= new_adjust_time_sheet_path({id: ts.id}) %>" class="btn btn-outline-info btn btn-sm btn-bold mt-3">Adequar</a>
    </div>
    <button onclick="disapprove(<%= ts.id %>)" class="btn-label-danger btn btn-sm btn-bold mr-3">
      <i class="la la-close"></i>
    </button>
    <button onclick="approve(<%= ts.id %>)" class="btn-label-success btn btn-sm btn-bold">
      <i class="fa fa-check"></i>
    </button>
  </div>
</div>