    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
      <div class="kt-header-mobile__logo">
        <a href="<%= root_path %>">
          <img alt="Logo" src="<%= asset_path 'logo_header.png' %>" height="20px;" />
        </a>
      </div>
      <div class="kt-header-mobile__toolbar">
                  <!--begin: User bar -->
          <div class="kt-header__topbar-item kt-header__topbar-item--user">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
              <% if @current_user.avatar %>
                <img class="kt-hidden-" alt="<%= @current_user.first_name %>" src="<%= @current_user.avatar %>" width="40px" style ="border-radius:5px;" />
              <% else %>
                  <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold"><%= @current_user.first_name[0] %></span>
              <% end %>
              <span class="kt-header__topbar-icon kt-header__topbar-icon--brand kt-hidden">
                <b><%= @current_user.first_name[0] %></b>
              </span>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

              <!--begin: Head -->
              <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
                <div class="kt-user-card__avatar">
                  <% if @current_user.avatar %>
                  <img class="kt-hidden-" alt="<%= @current_user.first_name %>" src="<%= @current_user.avatar %>" />
                  <% else %>
                  <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold"><%= @current_user.first_name[0] %></span>
                  <% end %>
                </div>
                <div class="kt-user-card__name">
                  <%= @current_user.name %>
                </div>
                
              </div>

              <!--end: Head -->

              <!--begin: Navigation -->
              <div class="kt-notification">
                <a href="<%# edit_profile_path %>" class="kt-notification__item">
                  <div class="kt-notification__item-icon">
                    <i class="flaticon2-calendar-3 kt-font-success"></i>
                  </div>
                  <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title kt-font-bold">
                      Meu perfil
                    </div>
                    
                  </div>
                </a>
                

                <div class="kt-notification__custom">
                  <%= link_to "Sair", logout_path, method: :delete, class: "btn btn-label-brand btn-sm btn-bold" %>
                </div>
              </div>

              <!--end: Navigation -->
            </div>
          </div>

          <!--end: User bar -->
        <!-- <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button> -->
        <!-- <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more-1"></i></button> -->
      </div>
    </div>
    <!-- end:: Header Mobile -->
